<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGetOrg" value="https://api.nuget.org/v3/index.json" />
    <add key="Comharte.Standard" value="https://pkgs.dev.azure.com/comharte/Comharte.Standard/_packaging/Comharte.Standard/nuget/v3/index.json" />
  </packageSources>
</configuration>
